$color_1: #212529;
$color_2: rgba(0, 0, 0, 0.58);
$color_3: #FFF;
$color_4: rgb(0, 0, 0);
$color_5: #f6c101;
$color_6: white;
$color_7: #989897;
$color_8: #000;
$color_9: #fcab2c;
$color_10: rgb(255, 255, 255);
$font_family_1: 'Montserrat', sans-serif;
$background_color_1: #fff;
$background_color_2: #fcab2c;
$background_color_3: #000;
$background_color_4: rgba(251, 225, 126, 0.58);
$background_color_5: #f4de93;
$background_color_6: #322f30;

/* SIDEBAR STYLE --------------------------------------------------------------------------------------- */
/* HEADER STYLE --------------------------------------------------------------------------------------- */
/* CONTENT STYLE --------------------------------------------------------------------------------------- */
/* our business content -------------------------------------------------------------------------------- */
/* Recomended Video ----------------------------------------------------------------------------------- */
/* Content Creator -------------------------------------------------------------------------------- */
/* FOOTER STYLE --------------------------------------------------------------------------------------- */
/* RESPONSIVE OVERRIDE STYLE --------------------------------------------------------------------------------------- */
body {
	margin: 0;
	font-family: $font_family_1;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: $color_1;
	text-align: left;
	background-color: $background_color_1;
}
amp-carousel {
	overflow-x: hidden;
}
.hidden-scroll {
	div {
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
.nav-sidebar {
	padding: 15px;
	h3 {
		padding-right: 35px;
	}
	ul {
		list-style: none;
		padding-left: 0px;
	}
}
.nav-sidebar-close {
	position: absolute;
	right: 15px;
	top: 15px;
}
.col-header {
	padding: 0px;
}
.nav-menu-bar {
	display: inline-block;
	margin-right: 15px;
	vertical-align: top;
	padding-top: 3px;
}
.nav-menu-logo {
	display: inline-block;
}
.col-header-logo {
	padding-top: 15px;
	padding-left: 15px;
}
.col-header-bg {
	background-color: $background_color_2;
	-webkit-clip-path: polygon(28% 0, 100% 0%, 100% 100%, 46% 100%);
	clip-path: polygon(28% 0, 100% 0%, 100% 100%, 46% 100%);
	position: relative;
	z-index: 1;
}
.col-header-content {
	width: 100%;
	z-index: 2;
	top: 0px;
	padding: 15px;
	.header-menu-1 {
		font-size: 10px;
		font-weight: 700;
		color: $color_2;
		text-decoration: none;
		&:hover {
			text-decoration: none;
			color: $color_3;
			text-decoration: none;
		}
		&:first-child {
			margin-right: 50px;
		}
	}
	.header-menu {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.header-menu-2 {
		font-size: 14px;
		font-weight: 700;
		color: $color_4;
		&:hover {
			color: $color_3;
			text-decoration: none;
		}
	}
}
li.nav-item {
	padding-top: 6px;
}
li.group-menu {
	background-color: $background_color_3;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 10px 5px;
	font-size: 10pt;
	a {
		color: $color_3;
		font-weight: 700;
		&:hover {
			color: $color_5;
			text-decoration: none;
		}
	}
	.delimiter {
		color: $color_3;
		font-weight: 700;
	}
}
.col-home-slider {
	min-height: 100px;
	width: 100%;
	z-index: 3;
	padding: 0px;
}
.col-home-info {
	z-index: 4;
	.p1 {
		font-weight: 700;
		margin: 0px;
		display: block;
	}
	.p2 {
		font-weight: 700;
		margin: 0px 0px 25px 0px;
		display: block;
	}
}
.carousel-preview {
	position: absolute;
}
amp-selector {
	[option][selected] {
		outline: none;
		background-color: $background_color_3;
		border-radius: 11px;
	}
}
.col-content {
	padding-top: 20px;
}
.col-our-business {
	min-height: 690px;
}
.col-our-business-bg {
	background-color: $background_color_2;
	-webkit-clip-path: polygon(100% 72%, 0% 100%, 100% 100%);
	clip-path: polygon(100% 72%, 0% 100%, 100% 100%);
	min-height: 690px;
	width: 100%;
	position: absolute;
	z-index: 1;
}
.our-heading {
	font-size: 50px;
	font-weight: bold;
	.our-text {
		color: $color_6;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
}
.our-business-heading {
	font-size: 20px;
	font-weight: 700;
}
.our-business-content {
	font-weight: 300;
	font-size: 14px;
}
.our-bussines-01 {
	background: url('frontend/assets/images/01.png') no-repeat;
	padding-top: 30px;
	padding-left: 30px;
	min-height: 155px;
}
.our-bussines-02 {
	background: url('frontend/assets/images/02.png') no-repeat;
	padding-top: 30px;
	padding-left: 30px;
	min-height: 155px;
}
.our-bussines-03 {
	background: url('frontend/assets/images/03.png') no-repeat;
	padding-top: 30px;
	padding-left: 30px;
	min-height: 155px;
}
.our-bussines-04 {
	background: url('frontend/assets/images/04.png') no-repeat;
	padding-top: 30px;
	padding-left: 30px;
	min-height: 155px;
}
.col-our-business-list {
	margin-top: 50px;
	z-index: 2;
}
.our-business-img-01 {
	width: 255px;
	height: 170px;
	z-index: 1;
	position: absolute;
	margin-left: 143px;
	margin-top: 87px;
	overflow: hidden;
	cursor: pointer;
}
.our-business-img-02 {
	width: 200px;
	height: 300px;
	z-index: 2;
	position: absolute;
	overflow: hidden;
	cursor: pointer;
}
.our-business-img-03 {
	width: 309px;
	height: 206px;
	z-index: 3;
	position: absolute;
	margin-left: 30px;
	margin-top: 200px;
	overflow: hidden;
	cursor: pointer;
}
.col-our-business-img {
	padding-top: 50px;
	padding-left: 5%;
}
.img-icon-yt {
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 2;
}
.img-icon-love {
	span {
		position: absolute;
		color: $color_3;
		font-size: 12px;
		z-index: 99;
		padding-top: 2px;
		padding-left: 18px;
	}
}
.img-icon-msg {
	span {
		position: absolute;
		color: $color_3;
		font-size: 12px;
		z-index: 99;
		padding-top: 5px;
		padding-left: 18px;
	}
}
.col-recomended-video {
	background-color: $background_color_2;
	line-height: 0.15em;
	.content-slider {
		background: url('frontend/assets/images/title-recomended-video.png') no-repeat center top;
		padding-top: 130px;
	}
	.title-video {
		font-size: 14pt;
		font-weight: 700;
	}
	.desc-video {
		font-size: 14px;
		font-weight: 700;
	}
}
.slider-box {
	&:hover {
		>.img-cover {
			border: 8px solid #fbe17e;
			cursor: pointer;
		}
		>.overlay {
			display: block;
			cursor: pointer;
		}
		.img-content-creator {
			transform: scale(1.1) rotate(5deg);
		}
	}
	.overlay {
		background-color: $background_color_4;
		-webkit-clip-path: polygon(80% 0, 100% 0, 100% 100%, 24% 100%);
		clip-path: polygon(80% 0, 100% 0, 100% 100%, 24% 100%);
		position: relative;
		width: 100%;
		height: 400px;
		margin-top: -400px;
		display: none;
		cursor: pointer;
	}
}
.col-recomended-video-footer {
	width: 100%;
	min-height: 200px;
	background-color: $background_color_2;
	-webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
	clip-path: polygon(100% 0, 0 0, 0 100%);
	margin-left: -15px;
}
.col-content-creator {
	min-height: 700px;
	background: url('frontend/assets/images/bg-content-creator.png') no-repeat;
	background-size: cover;
	.content-slider {
		min-height: 1200px;
	}
	.slider-box {
		padding-left: 70px;
		padding-right: 70px;
		.img-content-creator {
			transition: transform .5s ease;
		}
	}
}
.bg-content-creator {
	background: url('frontend/assets/images/title-content-creator.png') no-repeat center top;
	padding: 130px 50px 20px;
	min-height: 200px;
}
.btn-circle {
	position: absolute;
	right: 40px;
	bottom: 80px;
	cursor: pointer;
	z-index: 99;
	&:hover {
		background-color: $background_color_5;
		border-radius: 45px;
		cursor: pointer;
		&+div.content-text {
			>h3 {
				color: $color_8;
				font-size: 40pt;
				bottom: 40px;
				right: -210px;
			}
			>.social-media {
				display: block;
			}
		}
	}
}
.title-creator-content {
	font-size: 36pt;
	font-weight: 700;
	transform-origin: 0 0;
	transform: rotate(-90deg);
	position: absolute;
	bottom: 50px;
	right: -190px;
	z-index: 99999;
	color: $color_7;
	transition-timing-function: ease-out;
}
.content-text {
	position: absolute;
	bottom: 130px;
	padding-bottom: 50px;
	right: 40px;
	width: 120px;
	height: 100%;
	z-index: 9;
	&:hover {
		display: block;
		.social-media {
			display: block;
		}
		h3.title-creator-content {
			color: $color_8;
			font-size: 40pt;
			bottom: 40px;
			right: -210px;
		}
	}
	.social-media {
		p {
			padding: 5px 15px;
			font-size: 25px;
		}
		position: absolute;
		left: 70px;
		bottom: 0px;
		font-size: 25pt;
		text-align: center;
		padding-bottom: 20px;
		display: none;
		>p {
			&:hover {
				color: $color_9;
				cursor: pointer;
				padding: 5px 15px;
				border-radius: 10px;
				-o-transition: .5s;
				-ms-transition: .5s;
				-moz-transition: .5s;
				-webkit-transition: .5s;
				transition: .5s;
				background-color: $background_color_6;
			}
		}
	}
}
.link-view-all {
	font-size: 16pt;
	font-weight: 600;
	color: $color_8;
	text-decoration: underline;
}
.col-footer {
	min-height: 200px;
	background-color: $background_color_3;
	padding: 20px;
}
.col-footer-left {
	p {
		font-size: 12px;
		color: $color_10;
		line-height: 1.5;
		font-weight: 300;
	}
}
.col-footer-center {
	padding-top: 50px;
}
.col-footer-right {
	span {
		font-size: 12px;
		font-weight: 700;
		color: $color_3;
	}
}
.col-footer-delimiter {
	.delimeter {
		border-bottom: 1px solid #FFF;
	}
}
.col-footer-menu {
	a {
		font-size: 12px;
		font-weight: 300;
		color: $color_3;
		margin-right: 30px;
	}
}
.col-footer-right-2 {
	padding-right: 60px;
	span {
		font-size: 12px;
		font-weight: 700;
		color: $color_3;
		padding-top: 15px;
		display: block;
	}
}
.icon-sosmed {
	font-size: 18px;
	margin-right: 15px;
	cursor: pointer;
}
[role="button"] {
	cursor: pointer;
}
@media (max-width: 991.98px) {
	.col-home-slider {
		position: relative;
		min-height: 150px;
		width: 100%;
		z-index: 3;
		padding: 0px;
	}
	.col-header-content {
		background-color: $background_color_2;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 15px;
		padding-right: 15px;
		.header-menu {
			padding-bottom: 0px;
		}
	}
	.nav-sidebar {
		.nav-item {
			text-align: left;
		}
	}
	.col-home-info {
		display: relative;
		.p1 {
			font-size: 14px;
			text-align: center;
		}
		.p2 {
			font-size: 28px;
			text-align: center;
		}
	}
	.carousel-preview {
		bottom: 15px;
		left: 15px;
	}
	.col-our-business-img {
		min-height: 450px;
	}
	.our-bussines-01 {
		margin-left: 15px;
	}
	.our-bussines-02 {
		margin-left: 15px;
	}
	.our-bussines-03 {
		margin-left: 15px;
	}
	.our-bussines-04 {
		margin-left: 15px;
	}
	.title-our-business-responsive {
		max-width: 200px;
		max-height: 20px;
	}
	.col-our-business-bg {
		min-height: 1176px;
	}
	.col-recomended-video {
		.title-video {
			margin-top: 15px;
		}
		.content-slider {
			background: url('frontend/assets/images/title-recomended-video.png') no-repeat center top;
			background-size: 100% auto;
		}
	}
	.col-content-creator {
		amp-carousel {
			max-height: 500px;
		}
	}
}
@media (min-width: 992px) {
	.col-content {
		margin-top: 0;
	}
	.col-header-bg {
		min-height: 770px;
	}
	.col-header-content {
		position: absolute;
	}
	.col-home-info {
		position: absolute;
		top: 220px;
		z-index: 4;
		margin-left: 60px;
		.p1 {
			font-size: 25px;
		}
		.p2 {
			font-size: 55px;
		}
	}
	.col-home-slider {
		min-height: 663px;
		position: absolute;
		top: 120px;
		width: 100%;
		z-index: 3;
		padding: 0px;
	}
	.carousel-preview {
		top: 80%;
		left: 60px;
	}
	.col-header-logo {
		padding-top: 5px;
		padding-left: 30px;
	}
	.col-footer {
		padding: 40px;
	}
	.col-footer-left {
		padding-top: 24px;
		padding-left: 60px;
	}
	.col-footer-right {
		padding-top: 24px;
		padding-right: 60px;
	}
	.col-footer-delimiter {
		padding-left: 60px;
		padding-right: 60px;
	}
	.col-footer-menu {
		padding-left: 60px;
		padding-top: 10px;
	}
	.col-footer-right-2 {
		span {
			text-align: right;
		}
	}
	.col-our-business {
		background: #FFF url('frontend/assets/images/bg-our-business-01.png') no-repeat 3%;
	}
}
