@media (min-width: 1281px) {
    .body {
        padding: 100px 0 0;
    }
    .amp-scrollable-carousel-slide{
        max-width: 33%;
    }
    .col-header-bg{
        height: 57vw;
    }
    .col-home-info {
        position: absolute;
        top: 15%;
        left: 5vw;
    }
    .col-home-info h3 {
        font-size: 3.5rem;
    }
    .fixed-top,
    .sticky-top {
        height: 100px
    }
    .col-recomended-video-slider {
        padding: 0;
    }
}

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1024px) and (max-width: 1280px) {
    .body {
        padding: 100px 0 0;
    }
    .amp-scrollable-carousel-slide{
        max-width: 33%;
    }
    .col-header-bg {
        height: 57vw;
        -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 58.3333333% 100%);
                clip-path: polygon(25% 0, 100% 0, 100% 100%, 58.3333333% 100%);
    }
    .col-home-info {
        position: absolute;
        top: 10%;
        left: 5vw;
    }
    .col-home-info h3{
        font-size: 2.5rem;
    }

    .fixed-top,
    .sticky-top {
        height: 100px
    }
    .col-recomended-video-slider {
        padding: 15px;
    }
    .footer .middle{
        font-size: 12px;
    }
    .footer #copyrights{
        font-size: 11px;
        padding: 10px 0;
    }
    .footer .social-footer{
        max-width: 22px;
        max-height: 22px;
    }
    .footer .mnc{
        font-size: 10px;
    }
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    .fixed-top, .sticky-top {
        height: 66px;
    }
    .col-header-bg {
        height: 66vw;
    }
    .col-home-slider .slide__selector{
        bottom: 20%;
    }
    .col-home-slider #carouselWithPreviewSelector amp-layout{
        max-width: 22px;
        max-height: 22px;
    }
    amp-sidebar {
        min-width: 100%!important;
        float: none;
        padding: 0;
    }
    .explore_us {
        padding-right: 1.5rem;
    }

    .explore_us::after {
        width: 1rem;
        height: 1rem;
    }
    .col-home-info .mb-lg-3{
        margin:20px 0;
    }
    .col-home-info div{
        font-size: 12px;
    }
    .col-home-info h3 {
        font-size: 18px;
        text-align: center;
    }
    .carousel-controls a {
        font-size: 12px;
    }
    .col-our-business{
        margin-top:80px;
    }
    .col-our-business-item {
        height: auto;
        margin: 10px auto;
    }
    .col-our-business-item h1{
        top:-10%;
        font-size:80px;
    }
    .col-our-business-img {
        padding-top: 20px;
    }
    .title-our-business {
        font-size: 9vw;
    }
    .col-recomended-video {
        padding: 25% 0;
    }
    .col-recomended-video #recomendedVideoSlide{
        max-height: 320px;
        margin-top:30px;
    }
    .bg-content-creator {
        padding: 0 30px 20px;
    }

    .footer .middle{
        font-size: 12px;
    }
    .footer #copyrights{
        font-size: 18px;
        padding: 10px 0;
    }
    .footer .social-footer{
        max-width: 22px;
        max-height: 22px;
    }
    .footer .mnc{
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 980px) {
    .fixed-top, .sticky-top {
        height: 66px;
    }
    .col-header-bg {
        height: 66vw;
    }
    .col-home-slider .slide__selector{
        bottom: 20%;
    }
    .col-home-slider #carouselWithPreviewSelector amp-layout{
        max-width: 22px;
        max-height: 22px;
    }

    amp-sidebar {
        min-width: 100%!important;
        float: none;
        padding: 0;
    }

    .explore_us {
        padding-right: 1.5rem;
        bottom: 0;
    }

    .explore_us::after {
        width: 1rem;
        height: 1rem;
    }
    .col-home-info .mb-lg-3{
        margin:20px 0;
    }
    .col-home-info div{
        font-size: 12px;
    }
    .col-home-info h3 {
        font-size: 30px;
        text-align: center;
    }
    .carousel-controls a {
        font-size: 12px;
    }
    .col-our-business{
        margin-top:80px;
    }
    .col-our-business-item {
        height: auto;
        margin: 10px auto;
    }
    .col-our-business-item h1{
        top:-10%;
        font-size:80px;
    }
    .col-our-business-img {
        padding-top: 20px;
    }
    .title-our-business {
        font-size: 9vw;
    }
    .col-recomended-video {
        padding: 25% 0;
    }
    .col-recomended-video #recomendedVideoSlide{
        max-height: 320px;
        margin-top:30px;
    }
    .bg-content-creator {
        padding: 0 30px 20px;
    }

    .footer .middle{
        font-size: 12px;
    }
    .footer #copyrights{
        font-size: 18px;
        padding: 10px 0;
    }
    .footer .social-footer{
        max-width: 22px;
        max-height: 22px;
    }
    .footer .mnc{
        font-size: 12px;
    }
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .fixed-top, .sticky-top {
        height: 66px;
    }
    .col-header-bg {
        height: 66vw;
    }
    .col-home-slider .slide__selector{
        bottom: 18%;
    }
    .col-home-slider #carouselWithPreviewSelector amp-layout{
        max-width: 22px;
        max-height: 22px;
    }
    amp-sidebar {
        min-width: 100%!important;
        float: none;
        padding: 0;
    }
    .explore_us {
        padding-right: 1.5rem;
        bottom: 0;
    }

    .explore_us::after {
        width: 1rem;
        height: 1rem;
    }
    .col-home-info .mb-lg-3{
        margin:20px 0;
    }
    .col-home-info div{
        font-size: 12px;
    }
    .col-home-info h3 {
        font-size: 18px;
        text-align: center;
    }
    .carousel-controls a {
        font-size: 12px;
    }
    .col-our-business{
        margin-top:80px;
    }
    .col-our-business-item {
        height: auto;
        margin: 10px auto;
    }
    .col-our-business-item h1{
        top:-10%;
        font-size:80px;
    }
    .col-our-business-img {
        padding-top: 20px;
    }
    .title-our-business {
        font-size: 9vw;
    }
    .col-recomended-video {
        padding: 25% 0;
    }
    .col-recomended-video #recomendedVideoSlide{
        max-height: 320px;
        margin-top:30px;
    }
    .bg-content-creator {
        padding: 0 30px 20px;
    }

    .footer .middle{
        font-size: 12px;
    }
    .footer #copyrights{
        font-size: 18px;
        padding: 10px 0;
    }
    .footer .social-footer{
        max-width: 22px;
        max-height: 22px;
    }
    .footer .mnc{
        font-size: 12px;
    }
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .fixed-top, .sticky-top {
        height: 66px;
    }
    .col-header-bg {
        height: 66vw;
    }
    .col-home-slider .slide__selector{
        bottom: 36%;
    }
    .col-home-slider #carouselWithPreviewSelector amp-layout{
        max-width: 10px;
        max-height: 10px;
    }
    .heading-slider span.text-outline{
        color: transparent;
        -webkit-text-stroke: 1px #fff;
    }
    amp-sidebar {
        min-width: 100%!important;
        float: none;
        padding: 0;
    }
    .explore_us {
        padding-right: 1.5rem;
        font-size: 10px;
    }

    .explore_us::after {
        width: 1rem;
        height: 1rem;
    }
    .col-home-info .mb-lg-3{
        margin:20px 0;
    }
    .col-home-info div{
        font-size: 12px;
    }
    .col-home-info h3 {
        font-size: 18px;
        text-align: center;
    }
    .carousel-controls a {
        font-size: 12px;
    }
    .col-our-business{
        margin-top:80px;
    }
    .col-our-business-item {
        height: auto;
        margin: 10px auto;
    }
    .col-our-business-item h1{
        top:-10%;
        font-size:2rem;
    }
    .col-our-business-img {
        padding-top: 20px;
    }
    .title-our-business {
        font-size: 9vw;
    }
    .col-recomended-video {
        padding: 25% 0;
    }
    .col-recomended-video #recomendedVideoSlide{
        max-height: 280px;
        margin-top:20px;
    }
    .bg-content-creator {
        padding: 0 30px 20px;
    }

    .footer .middle{
        font-size: 12px;
    }
    .footer #copyrights{
        font-size: 12px;
        padding: 10px 0;
    }
    .footer .social-footer{
        max-width: 15px;
        max-height: 15px;
    }
    .footer .mnc{
        font-size: 6px;
    }
}