html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll
}

body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff
}

.body {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 50px 0 0;
    margin: 0;
    position: relative
}

.affix {
    top: 50px;
    position: fixed
}

.content {
    flex: 1 0 auto
}

.footer {
    flex-shrink: 0;
    background-color: #000
}

a:hover {
    text-decoration: none
}

[role=button] {
    cursor: pointer
}

.font-weight-400 {
    font-weight: 400
}

.font-weight-700 {
    font-weight: 700
}

.font-weight-900 {
    font-weight: 900
}

.font-style-i {
    font-style: italic
}

.font-size-xl {
    font-size: 8vw
}

.font-size-md {
    font-size: 4vw
}

.font-size-sm {
    font-size: 2vw
}

.text-outline-black {
    color: transparent;
    -webkit-text-stroke: 2px #000;
    text-shadow: none
}

#insta {
    background: radial-gradient(circle at 30% 107%, #fdf497 0, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent
}

#img-join {
    height: 100px;
    width: 100px;
    margin: 0 auto
}

.nav-sidebar {
    background: #fff;
    color: #232323;
    fill: #232323;
    text-transform: uppercase;
    letter-spacing: .18rem;
    font-size: .875rem;
    padding: 0
}

.nav-sidebar h6 {
    margin-top: 0;
    padding: 15px 20px;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
    margin-bottom: 0
}

.nav-sidebar h3 {
    padding-right: 35px
}

.nav-sidebar-close {
    position: absolute;
    right: 15px;
    top: 15px
}

.nav-sidebar ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    width: 300px
}

.nav-sidebar ul li {
    padding: 15px;
    line-height: 28px;
    border-bottom: 1px solid #dee2e6
}

.nav-sidebar ul li a {
    display: block
}

.nav-sidebar a:hover {
    text-decoration: underline;
    fill: #232323
}

.nav-sidebar a {
    color: #000;
    text-transform: none;
    letter-spacing: normal;
    font-weight: 700
}

div[class*="-sidebar-mask"] {
    opacity: .8
}

[role=button]:focus {
    outline: 0
}

.header-nav {
    z-index: 1050
}

#target-element-left .nav-item {
    display: flex;
    align-items: center;
    padding: 1em
}

#target-element-left .header-menu-1.active,
#target-element-left .header-menu-2.active,
#target-element-left .header-menu-2:hover,
.header-menu-1:hover {
    color: #fff;
    -webkit-text-stroke: 1px #f6c101;
    text-decoration: none
}

.header-menu-1 {
    color: rgba(0, 0, 0, .58);
    font-size: x-small
}

#target-element-left .header-menu-2 {
    color: #000;
    text-decoration: none;
    font-size: small
}

#target-element-left .header-menu-2,
.group-menu a,
.header-menu-1 {
    font-weight: 700
}

.group-menu {
    justify-content: space-evenly;
    background-color: #000;
    border-radius: 9999px;
    padding: .5em 1em;
    white-space: nowrap
}

.group-menu a {
    color: #fff;
    font-size: small
}

.group-menu .delimiter {
    color: #fff;
    font-weight: 700;
    margin: 0 .5em
}

.group-menu a:hover {
    color: #f6c101;
    text-decoration: none
}

#colHeaderContentBg {
    margin: 0 -15px
}

.fixed-top,
.sticky-top {
    height: 50px
}

.scrolltop-wrap {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 1em;
    bottom: 0;
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 3rem;
    z-index: 99999
}

.scrolltop-wrap a {
    position: fixed;
    position: -webkit-sticky;
    position: sticky;
    top: -4rem;
    width: 3rem;
    height: 3rem;
    margin-bottom: -5rem;
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: inline-block;
    text-decoration: none;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    pointer-events: all;
    outline: 0;
    overflow: hidden;
    font-size: 2rem;
    color: orange;
    writing-mode: vertical-lr;
    text-align: center;
    background-color: #999;
    border-radius: 10%
}

.col-home-slider {
    width: 100%;
    height: 51.9vw
}

.col-home-slider,
.col-home-slider .slide {
    position: relative
}

.col-home-slider .slide {
    padding-left: 6.25vw
}

.col-home-slider #carouselWithPreviewSelector amp-layout {
    max-width: 22px;
    max-height: 22px
}

.col-home-slider .slide__img {
    width: 51.8664047vw
}

.col-home-slider .slide__selector {
    position: absolute;
    left: 5vw;
    bottom: 15%
}

.col-home-slider .slide__selector__item[aria-selected=false] {
    background-color: #fff
}

.col-home-slider .slide__selector__item[aria-selected=true] {
    background-color: #000
}

.col-home-slider .slide__selector__item {
    border: 2px solid;
    border-radius: 50%;
    display: block;
    width: 100%;
    height: 100%
}

.heading-slider {
    font-size: 5vw;
    position: absolute;
    top: 1.3em;
    left: 50%;
    transform: translateX(-.5em)
}

.text-outline {
    color: transparent;
    -webkit-text-stroke: 4px #fff;
    text-shadow: none
}

.heading-slider span {
    display: block;
    font-weight: 900;
    font-style: italic
}

.explore_us {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 15%;
    padding-right: 3rem
}

.explore_us::after {
    border: 2px solid #000;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    content: " ";
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%)
}

.explore_us a {
    color: #000;
    font-weight: 700
}

.col-home-info h3 {
    font-size: 3.5rem
}

.col-our-business__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1
}

.col-our-business__img-group {
    border: 1px solid;
    position: relative;
    display: inline-block
}

.title-live-stream {
    font-weight: 900;
    font-size: 6vw
}

.title-live-stream .text-outline {
    -webkit-text-stroke: 2px #000
}

.title-live-youtube {
    font-weight: 700;
    font-size: 2.1vw
}

#myLiveChannel {
    width: 100%;
    height: 520px
}

#iframeStream {
    width: 100%;
    height: 520px
}

.title-our-business {
    font-weight: 900;
    font-size: 6vw
}

.title-our-business .text-outline {
    -webkit-text-stroke: 2px #000
}

.our-business-heading {
    font-size: 20px;
    font-weight: 700
}

.our-business-content {
    font-weight: 300;
    font-size: 14px he
}

.col-our-business-list {
    margin-top: 50px;
    z-index: 2
}

.col-our-business-item {
    padding: 3vw;
    height: 250px
}

.col-our-business-item h1 {
    color: #fff;
    font-size: 80px;
    font-weight: 900;
    font-style: italic;
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: -1px -1px 0 orange, 1px -1px 0 orange, -1px 1px 0 orange, 1px 1px 0 orange;
    z-index: -1
}

@supports((text-stroke:1px black) or (-webkit-text-stroke:1px black)) {
    .col-our-business-item h1 {
        color: transparent;
        -webkit-text-stroke: 2px orange;
        text-shadow: none
    }
}

.our-business-img-01 {
    width: 50%;
    height: 33.53%;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -100%);
    overflow: hidden;
    cursor: pointer
}

.our-business-img-02 {
    width: 39.45%;
    height: 59.17%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 0);
    overflow: hidden;
    cursor: pointer
}

.our-business-img-03 {
    width: 60.95%;
    height: 40.63%;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    overflow: hidden;
    cursor: pointer
}

.col-our-business-img {
    padding-top: 50px;
    padding-left: 5%
}

.img-icon-yt {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 2
}

.img-icon-love span {
    position: absolute;
    top: 50%;
    right: .7em;
    transform: translate(0, -70%);
    color: #fff;
    font-size: 8pt;
    z-index: 3
}

.img-icon-msg span {
    position: absolute;
    top: 50%;
    right: .7em;
    transform: translate(0, -70%);
    color: #fff;
    font-size: 8pt;
    z-index: 2
}

.col-recomended-video {
    background-color: #fcab2c;
    margin: 0 -15px -16.1vw;
    padding: 15% 0;
    -webkit-clip-path: polygon(0 calc(16.1vw), 100% 0, 100% calc(100% - (16.1vw)), 0 100%);
    clip-path: polygon(0 calc(16.1vw), 100% 0, 100% calc(100% - (16.1vw)), 0 100%)
}

.title-recomended-video .text-outline {
    -webkit-text-stroke: 2px #000;
    font-size: 12vw
}

h3.title-recomended-video {
    font-size: 4.76vw;
    font-weight: 900
}

h3.title-recomended-videos {
    font-size: 9rem;
    font-weight: 900
}

.title-recomended-video span {
    display: block
}

.col-recomended-video #content-slider {
    top: -1vw;
    margin-bottom: -9vw;
    overflow: hidden
}

.col-recomended-video .title-video {
    font-size: 1em;
    font-weight: 700;
    white-space: normal;
    margin-bottom: 0;
    padding: 0;
    height: 50px;
    line-height: 1.15em
}

.col-recomended-video .desc-video {
    white-space: normal;
    line-height: 1.2em
}

.slider-box__wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    margin: 10px 0
}

.slider-box__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.slider-box {
    width: 380px
}

.slider-box .img-cover {
    border: 4px solid transparent;
    cursor: pointer
}

.slider-box:hover .img-cover {
    border-color: #fbe17e;
    transform: scale(1.05)
}

.slider-box:hover .overlay {
    display: block;
    cursor: pointer;
    transform: scale(1.05)
}

.slider-box .overlay {
    background-color: rgba(251, 225, 126, .58);
    -webkit-clip-path: polygon(80% 0, 100% 0, 100% 100%, 24% 100%);
    clip-path: polygon(80% 0, 100% 0, 100% 100%, 24% 100%);
    position: relative;
    display: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.img-cover {
    max-height: 283px
}

.col-content-creator {
    min-height: auto;
    background: url(frontend/assets/images/bg-content-creator.png) no-repeat;
    background-size: cover;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 16.1vw
}

.bg-content-creator {
    padding: 0
}

.col-content-creator #content-slider {
    min-height: 1200px
}

.col-recomended-video-slider {
    top: -6vw;
    position: relative;
    padding: 0
}

.col-recomended-video-slider__wrapper {
    width: 100%;
    padding-top: 165.250965%
}

.col-recomended-video-slider__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 1em;
    left: 0;
    transition: all .5s cubic-bezier(.645, .045, .355, 1);
    cursor: pointer;
    overflow: hidden;
    padding: 1em
}

.col-recomended-video-slider__img img {
    padding: 15px
}

.col-recomended-video-slider__img:hover {
    transform: translate(0, 1em)
}

.title-creator-content {
    font-weight: 700;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    color: #000;
    transition-timing-function: ease-out
}

.content-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    bottom: 50px;
    right: 40px;
    width: 50px;
    z-index: 9
}

.content-text:hover .social-media {
    opacity: 1
}

.content-text .social-media {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    opacity: 0
}

.content-text .social-media a {
    color: #000;
    font-size: 24px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px
}

.btn-circle {
    cursor: pointer;
    font-size: 80px;
    line-height: 40px;
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    border: 2px solid;
    font-weight: 400;
    padding-top: 3px
}

.btn-circle:hover {
    background-color: #f4de93;
    border-radius: 45px;
    cursor: pointer
}

.content-text .social-media>a:hover {
    color: #fcab2c;
    cursor: pointer;
    border-radius: 10px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30
}

#bg-circle-1 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%, 0);
    width: 34.63vw;
    height: 34.63vw
}

#bg-circle-2 {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-80%, 50%);
    width: 34.63vw;
    height: 34.63vw;
    margin-right: -80%
}

#bg-triangle-1 {
    position: absolute;
    right: 0;
    width: 50px;
    height: 92px;
    transform: translate(-200%, -200%)
}

#bg-triangle-2 {
    transform: translate(100%, 200%);
    width: 124px;
    height: 60px
}

.floating_buttons {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #000;
    top: 50%;
    right: 0;
    padding: 1rem;
    border-radius: 8px 0 0 8px;
    z-index: 1050
}

.floating_buttons a+a {
    margin-top: 1rem
}

.col-header-bg {
    background-color: #fcab2c;
    height: 75vw;
    position: relative;
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 50% 100%);
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 50% 100%)
}

.max-width-1366 {
    max-width: calc(1366px - 30px);
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden
}

amp-carousel [class*=-scrollable-carousel-container]::-webkit-scrollbar {
    display: none
}

amp-carousel [class*=-scrollable-carousel-container] {
    scrollbar-width: none
}

.carousel-controls {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    font-weight: 900;
    color: #000;
    text-align: center
}

.carousel-controls .carousel-controls-arrow:hover,
.carousel-controls a:hover {
    color: #2f4f4f
}

.carousel-controls .carousel-controls-arrow {
    font-size: 2em;
    line-height: .5em
}

.carousel-controls a {
    color: #000;
    border-bottom: 2px solid
}

.controls-home {
    margin-top: 3rem
}

.carouselhome .amp-carousel-button-next,
.carouselhome .amp-carousel-button-prev {
    display: none
}

.i-amphtml-fit-text-content,
.i-amphtml-fit-text-content.i-amphtml-fill-content {
    justify-content: unset
}

#orange-box {
    background-color: orange;
    margin: 0 -15px;
    padding: 15% 0;
    -webkit-clip-path: polygon(0 16.1vw, 100% 0, 100% calc(100% - (100vw * .161)), 0 100%);
    clip-path: polygon(0 16.1vw, 100% 0, 100% calc(100% - (100vw * .161)), 0 100%)
}

#orange-box-2 {
    background-color: orange;
    margin: 0 -15px;
    padding: 15% 0 1% 0;
    -webkit-clip-path: polygon(0 16.1vw, 100% 0, 100% calc(100% - (0 * .161)), 0 100%);
    clip-path: polygon(0 16.1vw, 100% 0, 100% calc(100% - (0 * .161)), 0 100%)
}

#orange-box-2 .page-title .text-outline {
    color: transparent;
    -webkit-text-stroke: 2px #fff;
    text-shadow: none
}

.title-joinus {
    height: auto
}

.who {
    font-size: 3rem
}

.orange-box .text-outline {
    color: transparent;
    -webkit-text-stroke: 2px #fff;
    text-shadow: none;
    line-height: .5
}

.page-title .text-outline-black {
    color: transparent;
    -webkit-text-stroke: 2px #000;
    text-shadow: none;
    line-height: .8
}

.cbusines a:hover,
.cbusines li:hover {
    color: orange;
    cursor: pointer
}

#orange {
    background-color: orange;
    margin: 50px -15px;
    padding: 10% 0
}

#core-business .text-outline {
    color: transparent;
    -webkit-text-stroke: 1px #000;
    text-shadow: none
}

#core-business-list {
    list-style-position: inside;
    padding-left: 0
}

#core-business-list {
    counter-reset: section
}

#core-business-list h4::before {
    counter-increment: section;
    content: counter(section) ". "
}

#core-business-list h4 {
    padding: 15px 40px 15px 0;
    border: 0;
    border-bottom: 1px solid #696969;
    background-color: transparent
}

#core-business-list h4::after {
    content: '+';
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #2f4f4f;
    line-height: 1.55rem;
    width: 1.7rem;
    text-align: center;
    border-radius: 50%
}

#core-business {
    display: flex;
    flex-direction: column;
    justify-content: center
}

#core-business-list [expanded] h4::after {
    content: '-'
}

#img-container-1 {
    position: relative;
    width: 100%;
    padding-top: 110%
}

#img-container-1>div {
    background: url(frontend/assets/images/background-2.png) no-repeat center;
    background-size: contain
}

#figure-001>div,
#figure-002>div,
#figure-003>div,
#img-container-1>div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

#figure-001 {
    width: 50.4994007%;
    padding-top: 75.7491011%;
    margin-top: 5%;
    position: absolute;
    right: 0
}

#figure-002 {
    width: 65.3615661%;
    padding-top: 46.1845785%;
    position: absolute;
    bottom: 0;
    right: 30%;
    transform: translateX(60%)
}

#figure-003 {
    width: 44.7463044%;
    padding-top: 46.1108895%;
    position: absolute;
    top: 50%;
    transform: translate(20%, -70%)
}

.affiliates .text-outline {
    color: transparent;
    -webkit-text-stroke: 1px #000;
    text-shadow: none
}

.affiliates .bg-smn {
    background: url(http://dev.starhits.id/frontend/assets/img/background/bg-1280x720-bg-smn.png);
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: 50% 65%;
    transition: transform 1s, filter 1s ease-in-out;
    filter: brightness(80%)
}

.affiliates .bg-hits {
    background: url(http://dev.starhits.id/frontend/assets/img/background/bg-1280x720-bg-hits.png);
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: 50% 65%;
    transition: transform 1s, filter 1s ease-in-out;
    filter: brightness(80%)
}

.affiliates .bg-smn amp-img {
    transform-origin: 50% 65%;
    transition: transform 1s, filter 1s ease-in-out;
    filter: brightness(150%)
}

.affiliates .bg-hits amp-img {
    transition: transform 1s, filter 1s ease-in-out;
    filter: brightness(150%)
}

#latestVideosCreatorsDetail .caption {
    margin-top: -30px
}

.more-from-creator {
    max-width: 290px;
    max-height: 155px
}

.affiliates .bg-smn:hover amp-img {
    transform: scale(1.5)
}

.affiliates .bg-hits:hover amp-img {
    transform: scale(1.5)
}

.revenue-share-article {
    padding: 3em 0
}

#revenue-share .text-outline {
    color: transparent;
    -webkit-text-stroke: 1px #000;
    text-shadow: none
}

#join-us-link-xxl {
    display: block;
    width: 100%;
    background: orange;
    color: #000;
    font-size: 24pt;
    font-weight: 700;
    margin: auto;
    text-decoration: none;
    padding: 3rem 0
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

#parentdiv {
    position: relative;
    margin: 80px;
    width: 425px;
    height: 425px;
    border: 2px dotted #fff;
    background: 0 0;
    border-radius: 100%;
    font-family: sans-serif;
    -webkit-animation: fadein 3s;
    -moz-animation: fadein 3s;
    -ms-animation: fadein 3s;
    -o-animation: fadein 3s;
    animation: fadein 3s
}

#parentdiv2 {
    position: relative;
    margin: 30px;
    width: 360px;
    height: 360px;
    border: 2px solid #fff;
    background: 0 0;
    border-radius: 100%
}

#parentdiv2 h2 {
    padding: 130px 40px 0 40px;
    font-size: 20px;
    font-weight: 700
}

#parentdiv2 p {
    padding: 0 40px;
    font-size: 14px
}

.div2 {
    position: absolute;
    width: 180px;
    height: 180px;
    border: 2px solid #fff;
    background: orange;
    border-radius: 100px
}

#parentdiv2 .div2 h3 {
    font-size: 14px;
    font-weight: 700
}

#parentdiv2 .div2 .ps {
    padding: 70px 20px 0 20px
}

#parentdiv2 .div2 .bd {
    padding: 70px 20px 0 20px
}

#parentdiv2 .div2 .mcn {
    padding: 60px 20px 0 20px
}

#parentdiv2 .div2 p {
    padding: 0 35px;
    font-size: 10px
}

#bottom {
    position: absolute;
    bottom: -350px;
    left: 0
}

#align-center {
    margin-top: 30%
}

.panah1 {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 15px 0 15px;
    margin: 0 14px;
    border-color: #fff transparent transparent transparent;
    line-height: 0;
    transform: rotate(-2deg)
}

.panah2 {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 15px 0 15px;
    margin: -8px 29px;
    border-color: #fff transparent transparent transparent;
    line-height: 0;
    transform: rotate(215deg)
}

.panah3 {
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 15px 0 15px;
    margin: 88px -25px;
    border-color: #fff transparent transparent transparent;
    line-height: 0;
    transform: rotate(114deg)
}

.panel-title h5 {
    background: rgba(255, 165, 0, .45);
    padding: 1em;
    display: inline-block
}

#ampfeature {
    max-height: 1300px
}

#ampfeature.list [role=list] {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 6px;
    -moz-column-gap: 6px;
    column-gap: 6px
}

#ampfeatures {
    height: 1300px
}

#ampfeatures .list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px;
    column-gap: 8px
}

#ampfeature.list [role=listitem] {
    border-radius: 0;
    overflow: hidden;
    display: inline-flex;
    width: 100%
}

#ampfeature.list [role=listitem] .card-img {
    border-radius: 0;
    margin: 0;
    object-fit: cover
}

#ampfeature.list [role=listitem] .card-img-overlay {
    transform: translateY(100px)
}

#ampfeature.list [role=listitem]:hover .card-img-overlay {
    transform: translateY(0)
}

#ampfeature.list [role=listitem] .card-img-overlay,
#ampfeature.list [role=listitem] .preview-popup-info,
#ampfeature.list [role=listitem] .preview-popup-link {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

#ampfeature.list [role=listitem] .card-img-overlay {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

#ampfeature.list [role=listitem] .preview-popup {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: rgba(255, 165, 0, .45);
    padding: 1.5rem
}

#ampfeature.list [role=listitem] .preview-popup-triangle {
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
    clip-path: polygon(0 0, 0 100%, 100% 100%);
    background: rgba(255, 165, 0, .45);
    display: block;
    width: 100%;
    height: 90px
}

#ampfeature.list [role=listitem] .preview-popup-info {
    display: flex;
    padding: 1rem 0
}

#ampfeature.list [role=listitem] .preview-popup-info>div+div {
    margin-left: .75rem
}

#ampfeature.list [role=listitem] .preview-popup-link::before {
    content: ' ';
    border: 2px solid;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-right: .5em;
    transform: translateY(20%)
}

#ampfeature.list [role=listitem]:hover .preview-popup-info,
#ampfeature.list [role=listitem]:hover .preview-popup-link {
    visibility: visible
}

#ampfeature.list [role=listitem] .preview-popup-icon {
    margin-right: .25em
}

#ampfeature.list [role=listitem] .preview-popup-link {
    font-weight: 700;
    color: #000
}

.load-more-link {
    color: #000;
    font-weight: 700;
    margin: auto;
    border: 1px solid;
    border-radius: 24px;
    text-decoration: none;
    padding: .5em 3em;
    margin-top: 2rem;
    cursor: pointer
}

#player {
    margin-top: -3rem
}

#amp-list-tab-creator.list-more div[overflow] {
    background: rgba(248, 249, 250, .7);
    display: flex;
    align-items: flex-start;
    padding: 1rem
}

#amp-list-tab-creator.list-more [role=list] {
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap
}

#amp-list-tab-creator.list-more [role=listitem] {
    border-color: transparent;
    border-radius: 0;
    position: relative;
    width: 320px;
    margin-top: 3rem;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    display: inline-block;
    overflow: hidden
}

#amp-list-tab-creator.list-more [role=listitem]:hover .card-img-overlay.preview-popup {
    border-radius: 0;
    transform: translateY(0)
}

#amp-list-tab-creator.list-more [role=listitem] .card-img-overlay.preview-popup {
    background: rgba(255, 165, 0, .45);
    -webkit-clip-path: polygon(0 0, 100% 45%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 45%, 100% 100%, 0 100%);
    transform: translateY(25%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

#amp-list-tab-creator.list-more [role=listitem] .card-img-overlay.preview-popup,
#amp-list-tab-creator.list-more [role=listitem] .preview-popup-info,
#amp-list-tab-creator.list-more [role=listitem] .preview-popup-link {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

#amp-list-tab-creator.list-more [role=listitem] .preview-popup-info {
    display: flex;
    justify-content: space-between;
    visibility: hidden
}

#amp-list-tab-creator.list-more [role=listitem] .preview-popup-link::before {
    content: ' ';
    border: 1px solid;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-right: .5em;
    transform: translateY(20%)
}

#amp-list-tab-creator.list-more [role=listitem]:hover .preview-popup-info,
#amp-list-tab-creator.list-more [role=listitem]:hover .preview-popup-link {
    visibility: visible
}

#amp-list-tab-creator.list-more [role=listitem] .preview-popup-icon {
    margin-right: .25em
}

#amp-list-tab-creator.list-more [role=listitem] .preview-popup-link {
    font-weight: 700;
    visibility: hidden
}

.amp-load-more {
    display: flex;
    justify-content: center;
    height: 156px
}

#amp-list-tab-creator.list-more div[overflow] {
    background: rgba(248, 249, 250, .7);
    display: flex;
    align-items: flex-start;
    padding: 1rem
}

#amp-list-tab-creator.list-more [role=list] {
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap
}

#amp-list-tab-creator.list-more [role=listitem] {
    border-color: transparent;
    border-radius: 0;
    position: relative;
    width: 370px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    display: inline-block;
    overflow: hidden
}

#amp-list-tab-creator.list-more [role=listitem]:hover .card-img-overlay.preview-popup {
    border-radius: 0;
    transform: translateY(0)
}

#amp-list-tab-creator.list-more [role=listitem] .card-img-overlay.preview-popup {
    background: rgba(255, 165, 0, .45);
    -webkit-clip-path: polygon(0 0, 100% 45%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 45%, 100% 100%, 0 100%);
    transform: translateY(25%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

#amp-list-tab-creator.list-more [role=listitem] .card-img-overlay.preview-popup,
#amp-list-tab-creator.list-more [role=listitem] .preview-popup-info,
#amp-list-tab-creator.list-more [role=listitem] .preview-popup-link {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

#amp-list-tab-creator.list-more [role=listitem] .preview-popup-info {
    display: flex;
    justify-content: space-between;
    visibility: hidden
}

#amp-list-tab-creator.list-more [role=listitem] .preview-popup-link::before {
    content: ' ';
    border: 1px solid;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-right: .5em;
    transform: translateY(20%)
}

#amp-list-tab-creator.list-more [role=listitem]:hover .preview-popup-info,
#amp-list-tab-creator.list-more [role=listitem]:hover .preview-popup-link {
    visibility: visible
}

#amp-list-tab-creator.list-more [role=listitem] .preview-popup-icon {
    margin-right: .25em
}

#amp-list-tab-creator.list-more [role=listitem] .preview-popup-link {
    font-weight: 700;
    visibility: hidden;
    color: #000
}

.amp-load-more {
    display: flex;
    justify-content: center;
    height: 156px
}

:-ms-input-placeholder {
    color: #000;
    font-weight: 700
}

::-ms-input-placeholder {
    color: #000;
    font-weight: 700
}

::placeholder {
    color: #000;
    font-weight: 700;
    opacity: 1
}

input[type=search]:focus {
    background-color: transparent;
    outline: 0;
    box-shadow: none
}

input[type=search] {
    color: #000;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    background-origin: content-box;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid;
    margin: 0;
    padding: 10px 10px 0 10px
}

.search-form {
    padding: 10px 10px 0 10px
}

[role=button] {
    cursor: pointer
}

.nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    position: relative;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    background-color: orange;
    padding: 0;
    height: 50px
}

.nav::-webkit-scrollbar {
    display: none
}

.nav__dropdown {
    position: static
}

.nav__dropdown__header,
.nav__dropdown__header:focus {
    background-color: transparent;
    border: 0;
    font-weight: 700;
    width: auto;
    outline: 0;
    padding: 0 1em;
    line-height: 50px;
    white-space: nowrap
}

.nav__dropdown__list {
    list-style: none;
    padding: 1px 0 0;
    width: 220px;
    z-index: 1
}

.nav__dropdown__listitem {
    padding: 1em;
    background-color: orange;
    width: 220px
}

#main {
    background-color: orange;
    position: relative;
    list-style: none;
    font-weight: 700;
    font-size: 0;
    text-transform: uppercase;
    padding-left: 120px;
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

#main::-webkit-scrollbar {
    display: none
}

#main>li {
    background-color: orange;
    line-height: 50px;
    font-size: 1rem;
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-width: 220px;
    z-index: 3
}

li {
    margin: 0
}

.dropdown-symbol::before {
    content: "\25BC";
    padding: 0 .5em
}

.creators-details.text-outline {
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
}

@supports((text-stroke:2px black) or (-webkit-text-stroke:2px black)) {
    .creators-details.text-outline {
        color: transparent;
        -webkit-text-stroke: 2px #000;
        text-shadow: none
    }
}

#page-title-creators-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    opacity: .9;
    padding: 20px 0
}

#page-title-creators-details a {
    display: inline-block;
    line-height: 55px;
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%
}

#page-title-creators-details a+a {
    margin-left: 1em
}

.d-columns-2 {
    column-count: 2
}

#see-portofolio-link::before {
    content: ' ';
    border: 1px solid;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-right: .5em;
    transform: translateY(20%)
}

#see-portofolio-link:hover {
    color: #a9a9a9
}

#see-portofolio-link {
    font-weight: 700;
    text-decoration: none;
    color: #000
}

#orange-box-creator-details {
    background-color: orange;
    margin: 0 -15px;
    padding: 15% 0;
    position: relative;
    -webkit-clip-path: polygon(0 calc(100vw * .161), 100% 0, 100% calc(100% - (100vw * .161)), 0 100%);
    clip-path: polygon(0 calc(100vw * .161), 100% 0, 100% calc(100% - (100vw * .161)), 0 100%)
}

.link-xl {
    border: 1px solid #fff;
    color: #000;
    font-size: 10pt;
    font-weight: 700;
    border-radius: 24px;
    text-decoration: none;
    padding: 1em 3em
}

.center-both {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#latestSeriesCreatorsDetail .card:hover amp-img,
#latestVideosCreatorsDetail .card:hover amp-img {
    box-shadow: 0 0 8px 4px #fff
}

#latestSeriesCreatorsDetail .card:hover .card-img-overlay,
#latestVideosCreatorsDetail .card:hover .card-img-overlay {
    opacity: 1
}

#latestSeriesCreatorsDetail .card:hover,
#latestVideosCreatorsDetail .card:hover {
    transform: scale(1.02)
}

#latestSeriesCreatorsDetail .card-img-overlay,
#latestVideosCreatorsDetail .card-img-overlay {
    background-color: rgba(255, 156, 0, .7);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0;
    max-width: 100%;
    width: 100%;
    transition: all 2s;
    white-space: break-spaces
}

#latestVideosCreatorsDetail .caption {
    padding: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: -hp-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    width: 340px
}

#latestVideosCreatorsDetail .caption a {
    color: #000
}

#latestVideosCreatorsDetail .caption h6 {
    height: 30px;
    margin-top: -30px
}

#latestVideosCreatorsDetail .caption p {
    height: 50px;
    margin-top: -30px
}

#latestVideosCreatorsDetail .card-img-overlay {
    -webkit-clip-path: polygon(0 0, 50% 0, 85% 100%, 0 100%);
    clip-path: polygon(0 0, 50% 0, 85% 100%, 0 100%)
}

#latestSeriesCreatorsDetail .card-img-overlay {
    clip-path: polygon(0 10%, 100% 25%, 100% 100%, 0 100%)
}

#latestSeriesCreatorsDetail amp-fit-text {
    height: auto;
    white-space: normal
}

[role=button] {
    cursor: pointer
}

.view-videos-link::before {
    content: ' ';
    border: 1px solid;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-right: .5em;
    transform: translateY(20%)
}

.view-videos-link {
    color: #000;
    text-decoration: none
}

.creator-details-assets-link {
    color: orange
}

.creator-details-assets-link:hover {
    color: orange
}

.counting {
    padding: 2em
}

.icon-container-18 {
    width: 18px;
    height: 18px
}

.icon-container-32 {
    width: 32px;
    height: 32px
}

.numcount {
    padding: 0 2rem 0 5px
}

#orange-box-flip {
    background-color: orange;
    margin: 0 -15px;
    padding: 15% 15px;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% calc(100vw * .161), 100% 100%, 0 calc(100% - (100vw * .161)));
    clip-path: polygon(0 0, 100% calc(100vw * .161), 100% 100%, 0 calc(100% - (100vw * .161)))
}

#latestVideoDetails .card:hover .icon-play {
    background: url(https://dev.starhits.id/frontend/assets/icon/icon-play-button-red.png) no-repeat center transparent
}

#latestVideoDetails .card .icon-play {
    background: url(https://dev.starhits.id/frontend/assets/icon/icon-play-button.png) no-repeat center transparent;
    content: '';
    display: inline-block;
    position: absolute;
    left: 0
}

#profile-picture-video-list {
    display: block;
    width: 100vw;
    position: relative;
    margin: 0 -15px 50px;
    text-align: center
}

#page-title-video-list {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100vw
}

.panel-title-video-list h5 {
    background: rgba(255, 165, 0, .45);
    padding: 1em;
    display: inline-block
}

#videoList.list [role=list] {
    padding: 15px
}

#videoList.list [role=listitem]:hover .caption {
    background: rgba(247, 226, 154, .9);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175)
}

#videoList.list [role=listitem]:hover amp-img {
    border-radius: 0;
    transition: all .3s
}

#videoList.list [role=listitem] amp-img {
    border-radius: 0;
    transition: all .3s
}

#videoList.list [role=listitem]:hover .icon-play {
    background: url(https://dev.starhits.id/frontend/assets/icon/icon-play-button-red.png) no-repeat center rgba(247, 226, 154, .6)
}

#videoList.list [role=listitem] .icon-play {
    background: url(https://dev.starhits.id/frontend/assets/icon/icon-play-button.png) no-repeat center transparent;
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    transition: all .3s
}

.caption-video-list {
    padding: 1rem
}

.caption-video-list>.title {
    color: var(--secondary);
    font-size: .75em;
    position: relative
}

.caption-video-list>.title>.dot::before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--secondary)
}

.caption-video-list>.title>.dot {
    margin: 0 1em 0 .5em
}

#videoList amp-fit-text {
    font-weight: 700;
    height: auto;
    justify-content: flex-start;
    white-space: normal
}

.amp-load-more {
    display: flex;
    justify-content: center;
    height: 156px
}

.load-more-link {
    background: 0 0;
    color: #000;
    font-weight: 700;
    margin: auto;
    border: 1px solid;
    border-radius: 24px;
    text-decoration: none;
    padding: .5em 3em;
    margin-top: 2rem
}

.text-dark {
    color: #000
}

#profile-picture-videos {
    display: block;
    width: 100vw;
    position: relative;
    margin: 0 -15px 50px;
    text-align: center
}

#page-title-videos {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100vw
}

.panel-title-videos h5 {
    background: rgba(255, 165, 0, .45);
    padding: 1em;
    display: inline-block
}

#allVideos.list [role=list] {
    padding: 15px
}

#allVideos.list [role=listitem]:hover .caption {
    background: rgba(247, 226, 154, .9);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175)
}

#allVideos.list [role=listitem]:hover amp-img {
    border-radius: 0;
    transition: all .3s
}

#allVideos.list [role=listitem] amp-img {
    border-radius: 0;
    transition: all .3s
}

#allVideos.list [role=listitem]:hover .icon-play {
    background: url(https://dev.starhits.id/frontend/assets/icon/icon-play-button-red.png) no-repeat center rgba(247, 226, 154, .6)
}

#allVideos.list [role=listitem] .icon-play {
    background: url(https://dev.starhits.id/frontend/assets/icon/icon-play-button.png) no-repeat center transparent;
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    transition: all .3s
}

#allVideos.list [role=list] {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

#allVideos.list [role=listitem] {
    width: 349px
}

.caption-videos {
    padding: 1rem
}

.caption-videos>.title {
    color: var(--secondary);
    font-size: .75em;
    position: relative
}

.caption-videos>.title>.dot::before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--secondary)
}

.caption-videos>.title>.dot {
    margin: 0 1em 0 .5em
}

.page-title-series {
    position: absolute;
    left: 0;
    top: 90px;
    width: 100vw;
    text-align: center
}

#profile-picture {
    display: block;
    position: relative;
    margin: 0;
    text-align: center
}

#ampseries.list [role=list] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden
}

#ampseries.list [role=list] .card,
#ampseries.list [role=list] .card-img {
    border-radius: 0;
    border-color: transparent;
    object-fit: cover
}

#ampseries.list [role=list] .card {
    padding: 8px
}

#ampseries.list [role=list] .card-img-overlay {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: rgba(247, 226, 154, .8);
    -webkit-clip-path: polygon(0 0, 100% 77px, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 77px, 100% 100%, 0 100%);
    opacity: 0;
    transition: opacity 1s;
    top: 8px;
    left: 8px;
    bottom: 8px;
    right: 8px;
    object-fit: cover
}

#ampseries.list [role=list] .preview-popup-description {
    margin-bottom: 1em
}

#ampseries.list [role=list] .preview-popup-link::before {
    content: ' ';
    border: 1px solid;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-right: .5em;
    transform: translateY(20%)
}

#ampseries.list [role=list] .preview-popup-link {
    color: #000;
    font-weight: 700
}

#ampseries.list [role=listitem]:hover .card-img-overlay {
    opacity: 1
}

#ampseries.list [role=listitem] {
    position: relative;
    display: inline-block
}

.channel-preview {
    border-radius: 1rem
}

.subtitle {
    margin-top: 1em;
    margin-bottom: 0
}

#ampseries .caption {
    padding: 1rem
}

#ampseries .caption>.title {
    color: var(--secondary);
    font-size: .75em;
    position: relative
}

.amp-load-more {
    display: flex;
    justify-content: center;
    height: 156px
}

.load-more-link {
    background: 0 0;
    color: #000;
    font-weight: 700;
    margin: auto;
    border: 1px solid;
    border-radius: 24px;
    text-decoration: none;
    padding: .5em 3em;
    margin-top: 2rem
}

#latestSeriesDetailSeries .card:hover .icon-play,
#latestVideoSeriesDetail .card:hover .icon-play {
    background: url(https://dev.starhits.id/frontend/assets/icon/icon-play-button-red.png) no-repeat center transparent
}

#latestSeriesDetailSeries .card .icon-play,
#latestVideoSeriesDetail .card .icon-play {
    background: url(https://dev.starhits.id/frontend/assets/icon/icon-play-button.png) no-repeat center transparent;
    content: '';
    display: inline-block;
    position: absolute;
    left: 0
}

#latestSeriesDetailSeries .carousel__preview__title,
#latestVideoSeriesDetail .carousel__preview__title {
    color: #fff;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    white-space: nowrap
}

#latestSeriesDetailSeries .carousel__preview amp-img[aria-selected=true]>img,
#latestVideoSeriesDetail .carousel__preview amp-img[aria-selected=true]>img {
    filter: opacity(.4)
}

.profile {
    position: relative;
    width: 100%;
    padding-top: 52.0652322%
}

.profile__container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.profile__container {
    display: flex
}

.profile__picture {
    display: inline-block;
    width: 33.3333333%;
    margin: 0;
    padding: 0
}

.profile__container .page-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center
}

.channel-preview {
    border-radius: 1rem
}

.subtitle {
    margin-top: 1em;
    margin-bottom: 0
}

.bg-orange {
    background: orange
}

#ampchannels.list [role=listitem] .preview-popup,
#ampserieschannels.list [role=listitem] .preview-popup {
    border-radius: 0;
    background: rgba(255, 215, 0, .6);
    -webkit-clip-path: polygon(0 0, 100% 77px, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 77px, 100% 100%, 0 100%);
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    padding: 72px 15px 15px;
    opacity: 0;
    -webkit-transform: translateY(calc(-100% - 6px));
    -moz-transform: translateY(calc(-100% - 6px));
    -ms-transform: translateY(calc(-100% - 6px));
    -o-transform: translateY(calc(-100% - 6px));
    transform: translateY(calc(-100% - 6px));
    transition: opacity 1s
}

#ampchannels.list [role=listitem] .preview-popup-description,
#ampserieschannels.list [role=listitem] .preview-popup-description {
    margin-bottom: 1em
}

#ampchannels.list [role=listitem] .preview-popup-link::before,
#ampserieschannels.list [role=listitem] .preview-popup-link::before {
    content: ' ';
    border: 1px solid;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-right: .5em;
    transform: translateY(20%)
}

#ampchannels.list [role=listitem] .preview-popup-link,
#ampserieschannels.list [role=listitem] .preview-popup-link {
    color: #000;
    font-weight: 700
}

#ampchannels.list [role=listitem]:hover>.preview-popup,
#ampserieschannels.list [role=listitem]:hover>.preview-popup,
.channel-preview:hover>.preview-popup {
    opacity: 1
}

#ampchannels.list [role=listitem],
#ampserieschannels.list [role=listitem] {
    position: relative;
    margin: 20px auto
}

.channel-preview {
    border-radius: 1rem
}

.subtitle {
    margin-top: 1em;
    margin-bottom: 0
}

#ampchannels.list [role=list] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden
}

#ampserieschannels.list [role=list] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden
}

#ampchannels.caption {
    padding-bottom: 1.5rem
}

#ampchannels.caption>.title {
    text-transform: capitalize;
    color: #000;
    font-size: .75em;
    position: relative
}

#ampchannels amp-fit-text {
    font-weight: 700;
    height: auto;
    justify-content: flex-start;
    white-space: normal
}

#ampchannels .title {
    font-size: 1vw
}

.amp-load-more {
    display: flex;
    justify-content: center;
    height: 156px
}

.load-more-link {
    background: 0 0;
    color: #000;
    font-weight: 700;
    margin: auto;
    border: 1px solid;
    border-radius: 24px;
    text-decoration: none;
    padding: .5em 3em;
    margin-top: 2rem
}

.latest-entertainment-video img {
    border-radius: 0
}

a,
a:hover {
    color: #000
}

amp-selector.tabnavs {
    background: orange;
    font-size: 120%;
    font-weight: 700;
    line-height: 3;
    margin-top: 1rem;
    overflow-y: auto
}

amp-selector [option][selected] {
    outline: 0;
    border: 0
}

amp-selector.tabnavs [option][selected] {
    color: #fff
}

amp-selector.tabpanels [option] {
    display: none
}

amp-selector.tabpanels [option][selected] {
    display: block
}

.tabpanels .detailpanels {
    position: absolute;
    bottom: 0
}

.bg-orange-contact {
    background-color: orange;
    height: 81vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    -webkit-clip-path: polygon(0 23%, 40% 0, 100% 0, 100% 51%, 0 100%);
    clip-path: polygon(0 23%, 40% 0, 100% 0, 100% 51%, 0 100%);
    display: block
}

#section-title-contact {
    position: relative;
    width: 100%;
    height: calc(60vw - 100px)
}

#page-title-contact {
    position: absolute;
    top: 20%;
    left: 15px
}

.particle__1-contact {
    margin-bottom: -60vw;
    text-align: right
}

#orange-box-404 {
    background-color: orange;
    margin: 0 -15px;
    padding: 15% 0;
    position: relative;
    -webkit-clip-path: polygon(0 calc(100vw * .161), 100% 0, 100% calc(100% - (100vw * .161)), 0 100%);
    clip-path: polygon(0 calc(100vw * .161), 100% 0, 100% calc(100% - (100vw * .161)), 0 100%)
}

#latestSeriesPage404 .card:hover amp-img,
#recommendedPage404 .card:hover amp-img {
    box-shadow: 0 0 8px 4px #fff
}

#latestSeriesPage404 .card:hover .card-img-overlay,
#recommendedPage404 .card:hover .card-img-overlay {
    opacity: 1
}

#latestSeriesPage404 .card:hover,
#recommendedPage404 .card:hover {
    transform: scale(1.02)
}

#latestSeriesPage404 .card-img-overlay,
#recommendedPage404 .card-img-overlay {
    background-color: rgba(255, 156, 0, .7);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0;
    max-width: 100%;
    width: 100%;
    transition: all 2s;
    white-space: break-spaces
}

.caption-404 {
    padding: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: -hp-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    width: 340px
}

.caption-404 h6 {
    height: 50px;
    margin-top: -30px
}

.caption-404 p {
    height: 50px;
    margin-top: -30px
}

#latestPage404 .card-img-overlay {
    -webkit-clip-path: polygon(0 0, 50% 0, 85% 100%, 0 100%);
    clip-path: polygon(0 0, 50% 0, 85% 100%, 0 100%)
}

#latestPage404 .card-img-overlay {
    clip-path: polygon(0 10%, 100% 25%, 100% 100%, 0 100%)
}

#latestPage404 amp-fit-text {
    height: auto;
    white-space: normal
}

[role=button] {
    cursor: pointer
}

.view-videos-link-404::before {
    content: ' ';
    border: 1px solid;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-right: .5em;
    transform: translateY(20%)
}

.view-videos-link-404 {
    color: #000;
    text-decoration: none
}

.content .not-found {
    margin-top: 20px
}

.content .not-found h1 {
    color: #666;
    font-size: 100px;
    font-weight: 700
}

#page-title-faq {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%)
}

.faq__header {
    font-weight: 700;
    padding: 15px 80px 15px 0;
    border: 0;
    border-bottom: 1px solid #696969;
    background-color: transparent
}

.faq__header::after {
    content: '\276F';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid #000;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 1vw;
    padding: 5px;
    writing-mode: vertical-lr
}

#faqs-list [expanded] .faq__header::after {
    content: '\276E'
}

.faq__header:focus {
    outline: 0
}

.faq__answer {
    padding: 3rem 0
}

#page-title-term {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%)
}

#page-title-policy {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%)
}

#page-title-portfolio {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%)
}

#myTabsPortfolio[role=tablist].tabs-with-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 0
}

#myTabsPortfolio[role=tablist].tabs-with-flex [role=tab] {
    border-radius: 2em;
    text-align: center;
    padding: 1rem 3rem;
    border: 1px solid orange;
    background-color: orange;
    font-weight: 700;
    margin-bottom: 50px
}

#myTabsPortfolio[role=tablist].tabs-with-flex [role=tab][selected] {
    border: 1px solid;
    background-color: transparent;
    outline: 0
}

#myTabsPortfolio[role=tablist].tabs-with-flex [role=tabpanel] {
    display: none;
    width: 100%;
    order: 1;
    padding: 15px
}

#myTabsPortfolio[role=tablist].tabs-with-flex [role=tab][selected]+[role=tabpanel] {
    display: block
}

#portfolioList.grid [role=list] {
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
    justify-content: space-between;
    overflow: visible;
    flex-wrap: wrap;
    padding: 1.5rem 1rem 230px
}

#portfolioList .grid-item {
    border-color: transparent;
    border-radius: 2rem;
    position: relative;
    width: 320px;
    margin-bottom: 3rem
}

#portfolioList div[overflow] {
    background: rgba(248, 249, 250, .7);
    display: flex;
    align-items: flex-start;
    padding: 1rem
}

#portfolioList .container-responsive {
    position: relative;
    width: 100%;
    padding-top: calc(125% + 1rem)
}

#portfolioList .container-absolute {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

#portfolioList .grid-item:hover .container-absolute {
    bottom: -200px;
    transform: scale(1.07);
    z-index: 2
}

#portfolioList .grid__img {
    background: #fff;
    border: 1px solid #bdbdbd;
    box-shadow: 2px 2px 8px 2px #bdbdbd;
    width: 100%;
    height: 100%;
    padding: 1rem
}

#portfolioList .grid-item:hover .description {
    display: block
}

#portfolioList .grid-item .description {
    display: none;
    padding: 1rem;
    margin-top: 1rem
}

#portfolioList .grid-item .description .description-with-bg {
    background: #f5f5f5;
    padding: 1em
}

.create-project-link,
.load-more-link {
    color: #000;
    font-weight: 900;
    text-decoration: none;
    border-radius: 24px
}

.create-project-link {
    background: orange;
    padding: 1em 5em
}

.load-more-link {
    border: 1px solid;
    padding: .5em 3em
}

#portfolioList [role=list] img {
    object-fit: cover
}

#portfolioList .amp-load-more {
    display: flex;
    justify-content: center;
    height: 156px
}

#portfolioList .load-more-link {
    color: #000;
    font-weight: 900;
    margin: auto;
    border: 1px solid;
    border-radius: 9999px;
    text-decoration: none;
    padding: .5em 3em;
    margin-top: 2rem
}

#portfolioList .load-more-link label {
    margin: 0
}

#portfolioList .grid__img__brand img {
    object-fit: contain
}

.text-dark,
.text-dark:hover {
    color: #000
}

#brandsSlider [role=button] {
    visibility: hidden
}

#picture-container-2 {
    position: relative;
    width: 100%;
    padding-top: 56.25%
}

#picture-container-2>div {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0
}

#picture-container-2 div[data-z-index="1"] {
    position: absolute;
    top: 0;
    right: 0;
    width: 44.834763%;
    padding-top: 56.25%;
    transform: translateX(-40%)
}

#picture-container-2 div[data-z-index="2"] {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 34.1861491%;
    padding-top: 51.1689457%;
    transform: translateY(-50%)
}

#picture-container-2 div[data-z-index="3"] {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 34.1861491%;
    padding-top: 5.09440653%;
    transform: translateY(-50%)
}

#picture-container-2 div[data-z-index] div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: attr(data-z-index)
}

#picture-container-2 div[data-z-index] div img {
    object-fit: contain
}

#counter {
    text-align: center
}

#counter>div {
    padding: 2em 0
}

.text-center {
    text-align: center
}

.footer {
    padding: 3rem 3rem 0 3rem
}

.footer .social-footer {
    max-width: 24px;
    max-height: 24px
}

.footer #copyrights {
    font-size: 80%;
    padding: 10px 0
}

.footer #copyrights a {
    color: #fff
}

.lh-1 {
    line-height: 1
}

@media (min-width:320px) and (max-width:374px) {
    .mobile {
        display: block
    }
    .desktop {
        display: none
    }
    #myLiveChannel {
        width: 100%;
        height: 100%;
    }
    #iframeStream {
        width: 100%;
        height: 250px;
    }
    .text-outline {
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        text-shadow: none
    }
    .text-outline-black {
        color: transparent;
        -webkit-text-stroke: 1px #000;
        text-shadow: none
    }
    .font-size-xl {
        font-size: 12vw
    }
    .font-size-md {
        font-size: 8vw
    }
    .font-size-sm {
        font-size: 4vw
    }
    .d-xs-none {
        display: none
    }
    .d-xs-block {
        display: block
    }
    .fixed-top,
    .sticky-top {
        height: 66px
    }
    .col-header-bg {
        height: 66vw
    }
    .col-home-slider .slide__selector {
        bottom: 36%
    }
    .col-home-slider #carouselWithPreviewSelector amp-layout {
        max-width: 10px;
        max-height: 10px
    }
    .heading-slider span.text-outline {
        color: transparent;
        -webkit-text-stroke: 1px #fff
    }
    amp-sidebar {
        min-width: 90%!important;
        float: none;
        padding: 0
    }
    .explore_us {
        padding-right: 1.5rem;
        font-size: 10px
    }
    .explore_us::after {
        width: 1rem;
        height: 1rem
    }
    .col-home-info .mb-lg-3 {
        margin: 20px 0
    }
    .col-home-info div {
        font-size: 12px
    }
    .col-home-info h3 {
        font-size: 18px;
        text-align: center
    }
    .carousel-controls a {
        font-size: 12px
    }
    .col-our-business {
        margin-top: 80px
    }
    .col-our-business-item {
        height: auto;
        margin: 10px auto
    }
    .col-our-business-item h1 {
        top: -10%;
        font-size: 2rem
    }
    .col-our-business-img {
        padding-top: 20px
    }
    .title-live-stream {
        font-size: 9vw
    }
    .title-live-youtube {
        font-size: 4vw
    }
    .title-our-business {
        font-size: 9vw
    }
    .col-recomended-video {
        padding: 25% 0
    }
    .col-recomended-video #recomendedVideoSlide {
        max-height: 290px;
        margin-top: 20px
    }
    .col-recomended-video-slider #recomendedCreatorSlide {
        max-height: 400px
    }
    .bg-content-creator {
        padding: 0 30px 20px
    }
    .page-title .text-outline {
        color: transparent;
        -webkit-text-stroke: 1px #000
    }
    #orange-box {
        padding: 40% 0
    }
    .who {
        font-size: 2rem
    }
    #orange-box p {
        font-size: 80%
    }
    #core-business h1 {
        font-size: 2rem
    }
    #core-business .core-business h4 {
        font-size: 1rem
    }
    .affiliates h1 {
        font-size: 2rem
    }
    .nav__dropdown {
        position: absolute
    }
    .nav {
        padding: 0 10px
    }
    .nav__dropdown__header,
    .nav__dropdown__header:focus {
        font-size: 12px
    }
    #main {
        padding-left: 140px
    }
    #main>li {
        font-size: 12px;
        min-width: 130px
    }
    input[type=search] {
        font-size: 12px
    }
    #ampfeature {
        max-height: 1400px
    }
    #ampfeature.list [role=list] {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 2px;
        -moz-column-gap: 2px;
        column-gap: 2px
    }
    #page-title-creators-details {
        position: static
    }
    .col-content .img-head {
        margin-top: 20px
    }
    .creators-details.text-outline {
        color: transparent;
        -webkit-text-stroke: 1px #000
    }
    #playerbutton,
    #refreshbutton,
    .load-more-link {
        font-size: 12px
    }
    .counting {
        padding: 1em
    }
    .icon-container-18 {
        width: 12px;
        height: 12px
    }
    .icon-container-32 {
        width: 32px;
        height: 32px
    }
    .numcount {
        padding: 0 1rem 0 5px;
        font-size: 12px
    }
    .tabpanels .detailpanels {
        position: absolute;
        bottom: auto
    }
    #section-title-contact {
        position: relative;
        width: 100%;
        height: calc(90vw - 100px)
    }
    #page-title-contact h3 {
        font-size: 90%;
        width: 60%
    }
    .bg-orange-contact {
        height: 120vw
    }
    #maps {
        height: 290px;
        width: 290px
    }
    .page-title-series {
        position: absolute;
        left: 0;
        top: 10px;
        width: 100vw;
        text-align: center
    }
    .footer .middle {
        font-size: 12px
    }
    .footer #copyrights {
        font-size: 12px;
        padding: 10px 0
    }
    .footer .social-footer {
        max-width: 15px;
        max-height: 15px
    }
    .footer .mnc {
        font-size: 6px
    }
}

@media (min-width:375px) and (max-width:424px) {
    .mobile {
        display: block
    }
    .desktop {
        display: none
    }
    #myLiveChannel {
        width: 100%;
        height: 100%;
    }
    #iframeStream {
        width: 100%;
        height: 250px;
    }
    .text-outline {
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        text-shadow: none
    }
    .text-outline-black {
        color: transparent;
        -webkit-text-stroke: 1px #000;
        text-shadow: none
    }
    .fixed-top,
    .sticky-top {
        height: 66px
    }
    .col-header-bg {
        height: 66vw
    }
    .col-home-slider .slide__selector {
        bottom: 36%
    }
    .col-home-slider #carouselWithPreviewSelector amp-layout {
        max-width: 10px;
        max-height: 10px
    }
    .heading-slider span.text-outline {
        color: transparent;
        -webkit-text-stroke: 1px #fff
    }
    amp-sidebar {
        min-width: 90%!important;
        float: none;
        padding: 0
    }
    .explore_us {
        padding-right: 1.5rem;
        font-size: 10px
    }
    .explore_us::after {
        width: 1rem;
        height: 1rem
    }
    .col-home-info .mb-lg-3 {
        margin: 20px 0
    }
    .col-home-info div {
        font-size: 12px
    }
    .col-home-info h3 {
        font-size: 18px;
        text-align: center
    }
    .carousel-controls a {
        font-size: 12px
    }
    .col-our-business {
        margin-top: 80px
    }
    .col-our-business-item {
        height: auto;
        margin: 10px auto
    }
    .col-our-business-item h1 {
        top: -10%;
        font-size: 2rem
    }
    .col-our-business-img {
        padding-top: 20px
    }
    .title-live-stream {
        font-size: 9vw
    }
    .title-live-youtube {
        font-size: 4vw
    }
    .title-our-business {
        font-size: 9vw
    }
    .col-recomended-video {
        padding: 25% 0
    }
    .col-recomended-video #recomendedVideoSlide {
        max-height: 290px;
        margin-top: 20px
    }
    .col-recomended-video-slider #recomendedCreatorSlide {
        max-height: 400px
    }
    .bg-content-creator {
        padding: 0 30px 20px
    }
    .page-title .text-outline {
        color: transparent;
        -webkit-text-stroke: 1px #000
    }
    #orange-box {
        padding: 40% 0
    }
    .who {
        font-size: 2rem
    }
    #orange-box p {
        font-size: 80%
    }
    #core-business h1 {
        font-size: 2rem
    }
    #core-business .core-business h4 {
        font-size: 1rem
    }
    .affiliates h1 {
        font-size: 2rem
    }
    .nav__dropdown {
        position: absolute
    }
    .nav {
        padding: 0 10px
    }
    .nav__dropdown__header,
    .nav__dropdown__header:focus {
        font-size: 12px
    }
    #main {
        padding-left: 140px
    }
    #main>li {
        font-size: 12px;
        min-width: 130px
    }
    input[type=search] {
        font-size: 12px
    }
    #ampfeature {
        max-height: 1630px
    }
    #ampfeature.list [role=list] {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 2px;
        -moz-column-gap: 2px;
        column-gap: 2px
    }
    #amp-list-tab-creator.list-more [role=listitem] {
        width: 375px
    }
    #playerbutton,
    #refreshbutton,
    .load-more-link {
        font-size: 12px
    }
    .tabpanels .detailpanels {
        position: absolute;
        bottom: auto
    }
    #maps {
        height: 345px;
        width: 345px
    }
    .page-title-series {
        position: absolute;
        left: 0;
        top: 30px;
        width: 100vw;
        text-align: center
    }
    .footer .middle {
        font-size: 12px
    }
    .footer #copyrights {
        font-size: 12px;
        padding: 10px 0
    }
    .footer .social-footer {
        max-width: 15px;
        max-height: 15px
    }
    .footer .mnc {
        font-size: 6px
    }
}

@media (min-width:425px) and (max-width:480px) {
    .mobile {
        display: block
    }
    .desktop {
        display: none
    }
    #myLiveChannel {
        width: 100%;
        height: 100%;
    }
    #iframeStream {
        width: 100%;
        height: 350px;
    }
    .text-outline {
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        text-shadow: none
    }
    .text-outline-black {
        color: transparent;
        -webkit-text-stroke: 1px #000;
        text-shadow: none
    }
    .fixed-top,
    .sticky-top {
        height: 66px
    }
    .col-header-bg {
        height: 66vw
    }
    .col-home-slider .slide__selector {
        bottom: 36%
    }
    .col-home-slider #carouselWithPreviewSelector amp-layout {
        max-width: 10px;
        max-height: 10px
    }
    .heading-slider span.text-outline {
        color: transparent;
        -webkit-text-stroke: 1px #fff
    }
    amp-sidebar {
        min-width: 90%!important;
        float: none;
        padding: 0
    }
    .explore_us {
        padding-right: 1.5rem;
        font-size: 10px
    }
    .explore_us::after {
        width: 1rem;
        height: 1rem
    }
    .col-home-info .mb-lg-3 {
        margin: 20px 0
    }
    .col-home-info div {
        font-size: 12px
    }
    .col-home-info h3 {
        font-size: 18px;
        text-align: center
    }
    .carousel-controls a {
        font-size: 12px
    }
    .col-our-business {
        margin-top: 80px
    }
    .col-our-business-item {
        height: auto;
        margin: 10px auto
    }
    .col-our-business-item h1 {
        top: -10%;
        font-size: 2rem
    }
    .col-our-business-img {
        padding-top: 20px
    }
    .title-our-business {
        font-size: 9vw
    }
    .col-recomended-video {
        padding: 25% 0
    }
    .col-recomended-video #recomendedVideoSlide {
        max-height: 290px;
        margin-top: 20px
    }
    .col-recomended-video-slider #recomendedCreatorSlide {
        max-height: 400px
    }
    .bg-content-creator {
        padding: 0 30px 20px
    }
    .page-title .text-outline {
        color: transparent;
        -webkit-text-stroke: 1px #000
    }
    #orange-box {
        padding: 40% 0
    }
    .who {
        font-size: 2rem
    }
    #orange-box p {
        font-size: 80%
    }
    #core-business h1 {
        font-size: 2rem
    }
    #core-business .core-business h4 {
        font-size: 1rem
    }
    .affiliates h1 {
        font-size: 2rem
    }
    .nav__dropdown {
        position: absolute
    }
    .nav {
        padding: 0 10px
    }
    .nav__dropdown__header,
    .nav__dropdown__header:focus {
        font-size: 12px
    }
    #main {
        padding-left: 140px
    }
    #main>li {
        font-size: 12px;
        min-width: 130px
    }
    input[type=search] {
        font-size: 12px
    }
    #ampfeature {
        max-height: 1850px
    }
    #ampfeature.list [role=list] {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 2px;
        -moz-column-gap: 2px;
        column-gap: 2px
    }
    #amp-list-tab-creator.list-more [role=listitem] {
        width: 100%
    }
    #refreshbutton {
        font-size: 12px
    }
    #playerbutton,
    #refreshbutton,
    .load-more-link {
        font-size: 12px
    }
    #maps {
        height: 395px;
        width: 395px
    }
    .page-title-series {
        position: absolute;
        left: 0;
        top: 40px;
        width: 100vw;
        text-align: center
    }
    .footer .middle {
        font-size: 12px
    }
    .footer #copyrights {
        font-size: 12px;
        padding: 10px 0
    }
    .footer .social-footer {
        max-width: 15px;
        max-height: 15px
    }
    .footer .mnc {
        font-size: 6px
    }
}

@media (min-width:481px) and (max-width:767px) {
    .mobile {
        display: block
    }
    .desktop {
        display: none
    }
    #myLiveChannel {
        width: 100%;
        height: 100%;
    }
    #iframeStream {
        width: 100%;
        height: 350px;
    }
    .text-outline {
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        text-shadow: none
    }
    .text-outline-black {
        color: transparent;
        -webkit-text-stroke: 1px #000;
        text-shadow: none
    }
    .fixed-top,
    .sticky-top {
        height: 66px
    }
    .col-header-bg {
        height: 66vw
    }
    .col-home-slider .slide__selector {
        bottom: 18%
    }
    .col-home-slider #carouselWithPreviewSelector amp-layout {
        max-width: 22px;
        max-height: 22px
    }
    amp-sidebar {
        min-width: 100%!important;
        float: none;
        padding: 0
    }
    .explore_us {
        padding-right: 1.5rem;
        bottom: 0
    }
    .explore_us::after {
        width: 1rem;
        height: 1rem
    }
    .col-home-info .mb-lg-3 {
        margin: 20px 0
    }
    .col-home-info div {
        font-size: 12px
    }
    .col-home-info h3 {
        font-size: 18px;
        text-align: center
    }
    .carousel-controls a {
        font-size: 12px
    }
    .col-our-business {
        margin-top: 80px
    }
    .col-our-business-item {
        height: auto;
        margin: 10px auto
    }
    .col-our-business-item h1 {
        top: -10%;
        font-size: 80px
    }
    .col-our-business-img {
        padding-top: 20px
    }
    .title-our-business {
        font-size: 9vw
    }
    .col-recomended-video {
        padding: 25% 0
    }
    .col-recomended-video #recomendedVideoSlide {
        max-height: 320px;
        margin-top: 30px
    }
    .bg-content-creator {
        padding: 0 30px 20px
    }
    #ampfeature {
        max-height: 560px
    }
    #ampfeature.list [role=list] {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 2px;
        -moz-column-gap: 2px;
        column-gap: 2px
    }
    #amp-list-tab-creator.list-more [role=listitem] {
        width: 50%
    }
    #playerbutton,
    #refreshbutton,
    .load-more-link {
        font-size: 12px
    }
    #maps {
        height: 450px;
        width: 450px
    }
    .page-title-series {
        position: absolute;
        left: 0;
        top: 40px;
        width: 100vw;
        text-align: center
    }
    .footer .middle {
        font-size: 12px
    }
    .footer #copyrights {
        font-size: 18px;
        padding: 10px 0
    }
    .footer .social-footer {
        max-width: 22px;
        max-height: 22px
    }
    .footer .mnc {
        font-size: 12px
    }
}

@media (min-width:768px) and (max-width:979px) {
    .mobile {
        display: block
    }
    .desktop {
        display: none
    }
    #myLiveChannel {
        width: 100%;
        height: 100%;
    }
    #iframeStream {
        width: 100%;
        height: 450px;
    }
    .fixed-top,
    .sticky-top {
        height: 66px
    }
    .col-header-bg {
        height: 66vw
    }
    .col-home-slider .slide__selector {
        bottom: 20%
    }
    .col-home-slider #carouselWithPreviewSelector amp-layout {
        max-width: 22px;
        max-height: 22px
    }
    amp-sidebar {
        min-width: 100%!important;
        float: none;
        padding: 0
    }
    .explore_us {
        padding-right: 1.5rem;
        bottom: 0
    }
    .explore_us::after {
        width: 1rem;
        height: 1rem
    }
    .col-home-info .mb-lg-3 {
        margin: 20px 0
    }
    .col-home-info div {
        font-size: 12px
    }
    .col-home-info h3 {
        font-size: 30px;
        text-align: center
    }
    .carousel-controls a {
        font-size: 12px
    }
    .col-our-business {
        margin-top: 80px
    }
    .col-our-business-item {
        height: auto;
        margin: 10px auto
    }
    .col-our-business-item h1 {
        top: -10%;
        font-size: 80px
    }
    .col-our-business-img {
        padding-top: 20px
    }
    .title-our-business {
        font-size: 9vw
    }
    .col-recomended-video {
        padding: 25% 0
    }
    .col-recomended-video #recomendedVideoSlide {
        max-height: 320px;
        margin-top: 30px
    }
    .bg-content-creator {
        padding: 0 30px 20px
    }
    #ampfeature {
        max-height: 730px
    }
    #ampfeature.list [role=list] {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 2px;
        -moz-column-gap: 2px;
        column-gap: 2px
    }
    #amp-list-tab-creator.list-more [role=listitem] {
        width: 33%
    }
    .bg-orange-contact {
        height: 60vw
    }
    #playerbutton,
    #refreshbutton,
    .load-more-link {
        font-size: 12px;
        cursor: pointer
    }
    #maps {
        height: 350px;
        width: 360px
    }
    .page-title-series {
        position: absolute;
        left: 0;
        top: 60px;
        width: 100vw;
        text-align: center
    }
    .footer .middle {
        font-size: 12px
    }
    .footer #copyrights {
        font-size: 18px;
        padding: 10px 0
    }
    .footer .social-footer {
        max-width: 22px;
        max-height: 22px
    }
    .footer .mnc {
        font-size: 12px
    }
}

@media (min-width:980px) and (max-width:1023px) and (orientation:landscape) {
    .mobile {
        display: none
    }
    .desktop {
        display: block
    }
    .fixed-top,
    .sticky-top {
        height: 66px
    }
    .col-header-bg {
        height: 66vw
    }
    .col-home-slider .slide__selector {
        bottom: 20%
    }
    .col-home-slider #carouselWithPreviewSelector amp-layout {
        max-width: 22px;
        max-height: 22px
    }
    .tabpanels .detailpanels {
        position: relative;
        margin-top: 20px
    }
    amp-sidebar {
        min-width: 100%!important;
        float: none;
        padding: 0
    }
    .explore_us {
        padding-right: 1.5rem
    }
    .explore_us::after {
        width: 1rem;
        height: 1rem
    }
    .col-home-info .mb-lg-3 {
        margin: 20px 0
    }
    .col-home-info div {
        font-size: 12px
    }
    .col-home-info h3 {
        font-size: 18px;
        text-align: center
    }
    .carousel-controls a {
        font-size: 12px
    }
    .col-our-business {
        margin-top: 80px
    }
    .col-our-business-item {
        height: auto;
        margin: 10px auto
    }
    .col-our-business-item h1 {
        top: -10%;
        font-size: 80px
    }
    .col-our-business-img {
        padding-top: 20px
    }
    .title-our-business {
        font-size: 9vw
    }
    .col-recomended-video {
        padding: 25% 0
    }
    .col-recomended-video #recomendedVideoSlide {
        max-height: 320px;
        margin-top: 30px
    }
    .bg-content-creator {
        padding: 0 30px 20px
    }
    #ampfeature {
        max-height: 940px
    }
    #ampfeature.list [role=list] {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 2px;
        -moz-column-gap: 2px;
        column-gap: 2px
    }
    #amp-list-tab-creator.list-more [role=listitem] {
        width: 33%
    }
    #videoList.list [role=list] {
        margin-top: 5vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly
    }
    #videoList.list [role=listitem] {
        width: 349px
    }
    .bg-orange-contact {
        height: 60vw
    }
    #maps {
        height: 380px;
        width: 480px
    }
    .page-title-series {
        position: absolute;
        left: 0;
        top: 60px;
        width: 100vw;
        text-align: center
    }
    .footer .middle {
        font-size: 12px
    }
    .footer #copyrights {
        font-size: 18px;
        padding: 10px 0
    }
    .footer .social-footer {
        max-width: 22px;
        max-height: 22px
    }
    .footer .mnc {
        font-size: 12px
    }
}

@media (min-width:1024px) and (max-width:1279px) {
    .body {
        padding: 100px 0 0
    }
    .mobile {
        display: none
    }
    .desktop {
        display: block
    }
    .col-header-bg {
        height: 57vw;
        -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 58.3333333% 100%);
        clip-path: polygon(25% 0, 100% 0, 100% 100%, 58.3333333% 100%)
    }
    .col-home-info {
        position: absolute;
        top: 10%;
        left: 5vw
    }
    .col-home-info h3 {
        font-size: 2.5rem
    }
    .fixed-top,
    .sticky-top {
        height: 100px
    }
    .col-recomended-video-slider {
        padding: 15px
    }
    .controls-home {
        margin-top: -9vw
    }
    #recomendedCreatorSlide {
        max-height: 650px
    }
    .col-content-creator {
        max-height: 950px
    }
    .col-home-slider .slide__selector {
        bottom: 6%
    }
    #ampfeature {
        max-height: 960px
    }
    #ampfeature.list [role=list] {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 2px;
        -moz-column-gap: 2px;
        column-gap: 2px
    }
    #amp-list-tab-creator.list-more [role=listitem] {
        width: 33%
    }
    #main {
        padding-left: 20px
    }
    .page-title-series {
        position: absolute;
        left: 0;
        top: 120px;
        width: 100vw;
        text-align: center
    }
    #videoList.list [role=list] {
        margin-top: 5vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly
    }
    #videoList.list [role=listitem] {
        width: 349px
    }
    .bg-orange-contact {
        height: 60vw
    }
    .col-our-business-item {
        padding: 3vw;
        height: 280px
    }
    #parentdiv {
        margin: 80px 0
    }
    #align-center {
        margin-top: 35%;
        padding: 0 3em
    }
    #ampchannels.list [role=listitem] {
        margin: 20px auto
    }
    #latestVideosCreatorsDetail .caption {
        width: 300px
    }
    #latestVideosCreatorsDetail .imgCreatorsDetail {
        max-width: 300px;
        max-height: 184px
    }
    #latestVideosCreatorsDetail .caption h6 {
        font-weight: 700;
        font-size: 1rem
    }
    #ampchannels.list [role=listitem] amp-img {
        max-width: 266px;
        max-height: 216px
    }
    #ampchannels .title {
        font-size: 1vw
    }
    #maps {
        height: 380px;
        width: 480px
    }
    .page-title-series {
        position: absolute;
        left: 0;
        top: 70px;
        width: 100vw;
        text-align: center
    }
    .footer .middle {
        font-size: 12px
    }
    .footer #copyrights {
        font-size: 11px;
        padding: 10px 0
    }
    .footer .social-footer {
        max-width: 22px;
        max-height: 22px
    }
    .footer .mnc {
        font-size: 9px
    }
}

@media (min-width:1280px) {
    .mobile {
        display: none
    }
    .desktop {
        display: block
    }
    .body {
        padding: 100px 0 0
    }
    .amp-scrollable-carousel-slide {
        cursor: pointer
    }
    .col-header-bg {
        height: 57vw
    }
    .col-home-info {
        position: absolute;
        top: 15%;
        left: 5vw
    }
    .col-home-info h3 {
        font-size: 3.5rem
    }
    .fixed-top,
    .sticky-top {
        height: 100px
    }
    .col-recomended-video-slider {
        padding: 0
    }
    .slider-box {
        width: 380px
    }
    #recomendedVideoSlide {
        max-height: 340px
    }
    #ampfeature {
        max-height: 1180px
    }
    #ampfeature.list [role=list] {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 6px;
        -moz-column-gap: 6px;
        column-gap: 6px;
        display: inline-block
    }
    #amp-list-tab-creator.list-more [role=listitem] {
        width: 340px
    }
    #videoList.list [role=list] {
        margin-top: 5vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly
    }
    #videoList.list [role=listitem] {
        width: 349px
    }
    .bg-orange-contact {
        height: 60vw
    }
    .page-title-series {
        position: absolute;
        left: 0;
        top: 120px;
        width: 100vw;
        text-align: center
    }
    #portfolioList.grid [role=list] {
        display: flex;
        align-items: flex-start;
        justify-items: flex-start;
        justify-content: space-between;
        overflow: visible;
        flex-wrap: wrap;
        padding: 1.5rem 1rem 230px
    }
    #counter {
        display: flex;
        justify-content: space-evenly
    }
    #maps {
        height: 400px;
        width: 650px
    }
}

@media (min-width:1360px) {
    .mobile {
        display: none
    }
    .desktop {
        display: block
    }
    .body {
        padding: 100px 0 0
    }
    .amp-scrollable-carousel-slide {
        cursor: pointer
    }
    .col-header-bg {
        height: 57vw
    }
    .col-home-info {
        position: absolute;
        top: 15%;
        left: 5vw
    }
    .col-home-info h3 {
        font-size: 3.5rem
    }
    .fixed-top,
    .sticky-top {
        height: 100px
    }
    .col-recomended-video-slider {
        padding: 0
    }
    .slider-box {
        width: 380px
    }
    #recomendedVideoSlide {
        max-height: 340px
    }
    #ampfeature {
        max-height: 1380px
    }
    #ampfeature.list [role=list] {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 6px;
        -moz-column-gap: 6px;
        column-gap: 6px;
        display: inline-block
    }
    #amp-list-tab-creator.list-more [role=listitem] {
        width: 360px
    }
    #videoList.list [role=list] {
        margin-top: 5vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly
    }
    #videoList.list [role=listitem] {
        width: 349px
    }
    .bg-orange-contact {
        height: 60vw
    }
    .page-title-series {
        position: absolute;
        left: 0;
        top: 120px;
        width: 100vw;
        text-align: center
    }
    #portfolioList.grid [role=list] {
        display: flex;
        align-items: flex-start;
        justify-items: flex-start;
        justify-content: space-between;
        overflow: visible;
        flex-wrap: wrap;
        padding: 1.5rem 1rem 230px
    }
    #counter {
        display: flex;
        justify-content: space-evenly
    }
    #maps {
        height: 400px;
        width: 650px
    }
}

@media (min-width:1440px) {
    .amp-scrollable-carousel-slide {
        cursor: pointer
    }
    .amp-scrollable-carousel-slide:first-child {
        margin-left: 10px
    }
    .slider-box {
        width: 380px
    }
    #recomendedVideoSlide {
        max-height: 340px
    }
    #recomendedCreatorSlide {
        max-height: 580px
    }
    #ampfeature {
        max-height: 1400px
    }
    #amp-list-tab-creator.list-more [role=listitem] {
        width: 380px
    }
    #maps {
        height: 400px;
        width: 720px
    }
}

@media (min-width:1628px) {
    .amp-scrollable-carousel-slide {
        cursor: pointer
    }
    .amp-scrollable-carousel-slide:first-child {
        margin-left: 10px
    }
    .slider-box {
        width: 380px
    }
    #recomendedVideoSlide {
        max-height: 340px
    }
    #recomendedCreatorSlide {
        max-height: 480px
    }
    #ampfeature {
        max-height: 1900px
    }
    #amp-list-tab-creator.list-more [role=listitem] {
        width: 420px
    }
    #maps {
        height: 400px;
        width: 720px
    }
}

@media (min-width:1920px) {
    .amp-scrollable-carousel-slide {
        cursor: pointer
    }
    .amp-scrollable-carousel-slide:first-child {
        margin-left: 10px
    }
    .slider-box {
        width: 540px
    }
    #recomendedVideoSlide {
        max-height: 420px
    }
    #ampfeature {
        max-height: 1800px
    }
    #maps {
        height: 400px;
        width: 1280px
    }
}

@media (min-width:2100px) {
    .amp-scrollable-carousel-slide {
        cursor: pointer
    }
    .amp-scrollable-carousel-slide:first-child {
        margin-left: 10px
    }
    .slider-box {
        width: 480px
    }
    #recomendedVideoSlide {
        max-height: 420px
    }
    #ampfeature {
        max-height: 2000px
    }
    #amp-list-tab-creator.list-more [role=listitem] {
        width: 580px
    }
}

@media (min-width:2560px) {
    .amp-scrollable-carousel-slide {
        cursor: pointer
    }
    .amp-scrollable-carousel-slide:first-child {
        margin-left: 10px
    }
    .slider-box {
        width: 680px
    }
    #recomendedVideoSlide {
        max-height: 420px
    }
    #ampfeature {
        max-height: 2560px
    }
    #amp-list-tab-creator.list-more [role=listitem] {
        width: 680px
    }
}

@media (min-width:2860px) {
    #amp-list-tab-creator.list-more [role=listitem] {
        width: 780px
    }
}